extends layout

block content
  div.user
    header.user__header
      i.fas.fa-shield-virus
      h1.user__title Update NCOVI - 19
      hr
      p Register your mobile number once and get update of new cases in India and also in your state twice a day
    input( class='btn' type='button' onclick="location.href='register'" value='Register Now')
