doctype html
html
  head
    title= title
    script(src='https://kit.fontawesome.com/d61772df8e.js' crossorigin='anonymous')

    link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap' rel='stylesheet')
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/success.css')
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // ====== Favicon Icon ======
    link(rel='shortcut icon' href='assets/images/logo-defen.png' type='image/png')
    // ====== Slick CSS ======
    link(rel='stylesheet' href='assets/css/slick.css')
    // ====== Font Awesome CSS ======
    link(rel='stylesheet' href='assets/css/font-awesome.min.css')
    // ====== Line Icons CSS ======
    link(rel='stylesheet' href='assets/css/LineIcons.css')
    // ====== Animate CSS ======
    link(rel='stylesheet' href='assets/css/animate.css')
    // ====== Magnific Popup CSS ======
    link(rel='stylesheet' href='assets/css/magnific-popup.css')
    // ====== Bootstrap CSS ======
    link(rel='stylesheet' href='assets/css/bootstrap.min.css')
    // ====== Default CSS ======
    link(rel='stylesheet' href='assets/css/default.css')
    // ====== Style CSS ======
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='assets/css/style.css')
    link(rel='stylesheet', href='/stylesheets/success.css')
    
  body
    block content
    // ====== Jquery js ======
  script(src='assets/js/vendor/jquery-1.12.4.min.js')
  script(src='assets/js/vendor/modernizr-3.7.1.min.js')
  // ====== Bootstrap js ======
  script(src='assets/js/popper.min.js')
  script(src='assets/js/bootstrap.min.js')
  // ====== Slick js ======
  script(src='assets/js/slick.min.js')
  // ====== Isotope js ======
  script(src='assets/js/imagesloaded.pkgd.min.js')
  script(src='assets/js/isotope.pkgd.min.js')
  // ====== Counter Up js ======
  script(src='assets/js/waypoints.min.js')
  script(src='assets/js/jquery.counterup.min.js')
  // ====== Circles js ======
  script(src='assets/js/circles.min.js')
  // ====== Appear js ======
  script(src='assets/js/jquery.appear.min.js')
  // ====== WOW js ======
  script(src='assets/js/wow.min.js')
  // ====== Headroom js ======
  script(src='assets/js/headroom.min.js')
  // ====== Jquery Nav js ======
  script(src='assets/js/jquery.nav.js')
  // ====== Scroll It js ======
  script(src='assets/js/scrollIt.min.js')
  // ====== Magnific Popup js ======
  script(src='assets/js/jquery.magnific-popup.min.js')
  // ====== Main js ======
  script(src='assets/js/main.js')