doctype html
html
  head
    title= title
    script(src='https://kit.fontawesome.com/d61772df8e.js' crossorigin='anonymous')

    link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap' rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/success.css')
  body
    block content
