extends layout
    
block content
    .card
        .circle
            i.checkmark &check;
        h1 Success
        p
            | You have successfully registered
            br
            |  You&apos;ll soon receive Covid-19 updates
