doctype html
head
    title Register Now
    script(src='https://kit.fontawesome.com/d61772df8e.js' crossorigin='anonymous')

    link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap' rel='stylesheet')
    style 
        include ../public/assest/css/success.css
body
    .card
        .circle
            i.checkmark &check;
        h1 Success
        p
            | You have successfully registered
            br
            |  You&apos;ll soon receive Covid-19 updates
